@media (max-width: 700px) {
  * {
  }
  header {
    display: block;
  }
  /*Menu mobile*/
  nav #menu {
    z-index: 1000;
    position: fixed;
    padding: min(30vh, 10rem) 2rem;
    inset: 0 0 0 30%;
    background: hsla(0, 0%, 100%, 0.1);
    flex-direction: column;
    background-color: Transparent;
    backdrop-filter: blur(0.2rem);
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10vw;
    transform: translateX(100%);
    transition: transform 100ms ease-out;
    margin-right: 0rem;
  }
  button.menuBtn {
    z-index: 1000;
    display: block;
    background-color: transparent;
    color: white;
    border: none;

    position: fixed;
    font-size: 3rem;
    margin: 0.5rem 0.5rem;
    right: 0.5rem;
  }
  #menu li {
    list-style: none;
    margin-bottom: 1.5rem;
    backdrop-filter: blur(0.3rem);
    padding: 0.2rem 6vw 0.2rem 0;
  }
  #menu li a {
    font-size: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  #menu a > [aria-hidden="true"] {
    font-size: 2.5rem;

    color: var(--primary-color);
  }
  #menu[data-visible="true"] {
    transform: translateX(0%);
  }
  #menu a > [aria-hidden="true"] {
    font-weight: 900;
    margin-right: 0.7em;
  }
  button.scrollBtn {
    display: none;
  }

  /*Starting Page Mobile*/

  .firstPage .aboutMe {
    top: 8%;
  }
  .firstPage h1 {
    top: 10%;
    right: 0;
  }

  button.btnAboutMe {
    display: block;
    font-size: 1rem;
    text-align: center;
    left: 30%;
    right: 0;
    padding: 0.2rem;
    top: 80%;
    width: 200px;
    height: 40px;
    text-align: center;
    z-index: 1;
  }

  .firstPage span.quote {
    top: 45%;
    right: 0;
    width: 100%;
  }
  .firstPage span.quote > span.user {
    font-size: 1.4rem;
  }
  .firstPage span.quote > span.like {
    font-size: 0.8rem;
  }
  .firstPage span.quote > span.if {
    font-size: 1rem;
  }
  .firstPage span.quote > span.explain {
    font-size: 1rem;
  }
  .firstPage span.quote > span.end {
    font-size: 1em;
  }
  .arrow {
    background-color: white;
    position: relative;
    height: 250px;
    width: 5px;
  }
  .yearInfo {
    width: 150px;
    left: -160px;
  }
  .page {
    width: 90%;
  }
  .forthPage.page {
    height: 160vh;
  }
  .fifthPage.page {
    gap: 3rem 5rem;
  }
}
